.login {
  display: flex;
  flex-flow: column;
  border: 1px solid white;
  max-width: 26em;
  align-items: center;
}

.login__form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

span.login__error {
  color: red;
}
